<!-- <div id="googleMap" style="width:100%;height:100%;"></div> -->
<!-- <div class="map-main"> -->
     <google-map id="googleMap" [width]="'100%'" [height]="'100%'" [center]="map.center" [zoom]="map.zoom"
          (mapClick)="mapclick($event)">
          <map-marker *ngFor="let marker of markers" [position]="marker.position" [options]="marker.options">
          </map-marker>
          <map-polygon [paths]="polygon.paths" [options]="polygon.options"></map-polygon>
     </google-map>
     <button *ngIf="fillPolygonColor" type="button" class="btn btn-primary fill-polygo-color" (click)="fillPolygon($event)">
          fill Polygon Color
      </button>
<!-- </div> -->